<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747105138957-e16c047kqrd39i2qkvlcedk9od0s6gap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747105138957-e16c047kqrd39i2qkvlcedk9od0s6gap</string>
	<key>API_KEY</key>
	<string>AIzaSyBaw-kiUpUFHo4tcMvRyvcbr3Lv5BGuY08</string>
	<key>GCM_SENDER_ID</key>
	<string>747105138957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.PIEMONS</string>
	<key>PROJECT_ID</key>
	<string>piemons-13c75</string>
	<key>STORAGE_BUCKET</key>
	<string>piemons-13c75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:747105138957:ios:f6a9e067b208af37cf5844</string>
</dict>
</plist>
