<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199460196510-uc2i86o2o8t4be7172c7n0cu9bfge37a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199460196510-uc2i86o2o8t4be7172c7n0cu9bfge37a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>199460196510-55narbug5bj1dbm9li9209746fp46es9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRSANkmVnOfC5S5R-zGaryU59BBvFz36k</string>
	<key>GCM_SENDER_ID</key>
	<string>199460196510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.PIEMONS</string>
	<key>PROJECT_ID</key>
	<string>databaseapp-ceed7</string>
	<key>STORAGE_BUCKET</key>
	<string>databaseapp-ceed7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199460196510:ios:83dc5cd425495ebe1f2b8f</string>
	<key>DATABASE_URL</key>
	<string>https://databaseapp-ceed7.firebaseio.com</string>
</dict>
</plist>